body {
  /*background-color: #061339;*/
}

body, html {
  height: 100%;
}

li a{
  color: white;
  font-size: 18px;
}

#navbar {
  background-color: transparent;
}

/*#footer {
  background-color: black;
}*/

/*label {
  color: black;
}*/

.texto {
  color: #777;
  background-color:white;
  text-align: center;
  padding:50px 80px;
  text-align: justify;
  width: 90%
}

.texto h3 {
  text-align: center;
}

/*INICIO PARALLAX*/
.parallax {
  /* The image used */
  background-image: url("/images/working.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("/images/working.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/images/1.jpg");
  min-height: 200px;
}

.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption span.subTitle {
  background-color: transparent;
  color: black;
  padding: 18px;
  font-size: 30px;
  letter-spacing: 10px;
  border-color: black;
}

@media only screen and (max-device-width: 1024px) {
  /*.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }*/
  #mapa {
    width: 300px;
  }
}
/*FIN PARALLAX*/

/*#navbarPrincipal {
  background-color: #061339;
}
/#navbarPrincipal a {
  color: white;
}*/


/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=43O0u0kllllaFw0g0qFqFg0w0aF */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #2F4073 }	/* Main Primary color */
.color-primary-1 { color: #7986AC }
.color-primary-2 { color: #50608F }
.color-primary-3 { color: #162656 }
.color-primary-4 { color: #061339 }

.color-secondary-1-0 { color: #AA9839 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFF2AA }
.color-secondary-1-2 { color: #D4C46A }
.color-secondary-1-3 { color: #806F15 }
.color-secondary-1-4 { color: #554800 }

.color-secondary-2-0 { color: #AA6F39 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFD3AA }
.color-secondary-2-2 { color: #D49D6A }
.color-secondary-2-3 { color: #804815 }
.color-secondary-2-4 { color: #552900 }

.color-complement-0 { color: #AA8639 }	/* Main Complement color */
.color-complement-1 { color: #FFE4AA }
.color-complement-2 { color: #D4B36A }
.color-complement-3 { color: #805E15 }
.color-complement-4 { color: #553A00 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba( 47, 64,115,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(121,134,172,1) }
.rgba-primary-2 { color: rgba( 80, 96,143,1) }
.rgba-primary-3 { color: rgba( 22, 38, 86,1) }
.rgba-primary-4 { color: rgba(  6, 19, 57,1) }

.rgba-secondary-1-0 { color: rgba(170,152, 57,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(255,242,170,1) }
.rgba-secondary-1-2 { color: rgba(212,196,106,1) }
.rgba-secondary-1-3 { color: rgba(128,111, 21,1) }
.rgba-secondary-1-4 { color: rgba( 85, 72,  0,1) }

.rgba-secondary-2-0 { color: rgba(170,111, 57,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(255,211,170,1) }
.rgba-secondary-2-2 { color: rgba(212,157,106,1) }
.rgba-secondary-2-3 { color: rgba(128, 72, 21,1) }
.rgba-secondary-2-4 { color: rgba( 85, 41,  0,1) }

.rgba-complement-0 { color: rgba(170,134, 57,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(255,228,170,1) }
.rgba-complement-2 { color: rgba(212,179,106,1) }
.rgba-complement-3 { color: rgba(128, 94, 21,1) }
.rgba-complement-4 { color: rgba( 85, 58,  0,1) }



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */
